.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .card {
    width: calc(50% - 40px); /* 50% width for each card and 40px for margin */
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #ccc;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px #ccc;
  }

  .hero h1{
    text-align: center;
  }

  .highlight {
    box-shadow: 3px 3px 5px 6px rgb(0, 255, 47);
}
