figure {
    display: block;
    text-align: center;
    margin: auto;
    width: auto;
    padding: 10px;
    margin-top: 1%;
}

img {
    border: 2px solid black;
    border-radius: 5px;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    color: white;
}




